.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 2vh;
  width:'90%';
  // height: 15vh;
  h4{
    width: 70%;
  }
  a{
    width: 30%;
    height: 100%;
    text-align: right;
    padding:5px;
    //margin:0px auto;
  }

  .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50vw;
    height: 100%;

  };

  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 50vw;
    height: 100%;
  }
}



.my-list .spe .am-list-extra {
  flex-basis: initial;
}

.item{
  padding: 10px;
  display: flex;

  .left{
    width:40%;
    fontSize:1.5em;
    fontWeight:500
  };

  div{
    width:100%;
    textAlign:left;
    color:gray;
  };
}

//.img-area {
//  width: 38vw;
//  height: 20vh;
//  padding-right: 10vw;
//  flex-shrink: 0;
//}

/*img{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border-radius: 20px;*/
/*  flex-shrink: 0;*/
/*}*/

//.text-column{
//    flex-direction: column;
//    justify-content: space-between;
//    height: 100%;
//}
